.rouded-right-corner {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-left-corners {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.light-grey {
  background-color: rgb(231, 231, 231);
}

.light-black {
  color: rgb(129 124 124) !important;
}



@media (max-width: 768px) {
  .column-reverse-mobile {
    display: flex;
    flex-direction: column-reverse; 
  }
}



.rotating-flag {
  
  transform-origin: center; /* Pivot the animation around the center of the image */
  animation: rotateY 10s infinite linear;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.beautiful-image {
  width: 100%; /* Make sure the image is responsive */
  height: auto; /* Keep aspect ratio intact */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for effects */
}

.beautiful-image:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* Darker shadow on hover */
}

.button-line {
  border-bottom: 1px solid black;
  padding: 10px 0;
}
